APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=
REDIS_CACHE_DB=

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

CAS_HOSTNAME=
CAS_REAL_HOSTS=
CAS_SESSION_NAME=
CAS_ENABLE_SAML=
CAS_MASQUERADE=

APIARY_ENABLED=
APIARY_SERVER=
APIARY_TOKEN=
APIARY_SUMS_TIMEOUT_EMAIL_TEMPLATE_ID=
APIARY_NON_SUMS_TIMEOUT_EMAIL_TEMPLATE_ID=

GITHUB_ENABLED=
GITHUB_APP_ID=
GITHUB_ORGANIZATION=
GITHUB_ORGANIZATION_ID=
GITHUB_PRIVATE_KEY=
GITHUB_INSTALLATION_ID=
GITHUB_WEBHOOK_SECRET=

NEXTCLOUD_ENABLED=
NEXTCLOUD_SERVER=
NEXTCLOUD_USERNAME=
NEXTCLOUD_PASSWORD=

SUMS_ENABLED=
SUMS_USERNAME=
SUMS_TOKEN=
SUMS_SERVER=
SUMS_BILLING_GROUP_ID=
SUMS_ATTENDANCE_TIMEOUT_ENABLED=
SUMS_ATTENDANCE_TIMEOUT_EMAILS=

VAULT_ENABLED=
VAULT_SERVER=
VAULT_USERNAME=
VAULT_PASSWORD=

WORDPRESS_ENABLED=
WORDPRESS_SERVER=
WORDPRESS_USERNAME=
WORDPRESS_PASSWORD=
WORDPRESS_TEAM=Core

SLACK_ENDPOINT=

BUGSNAG_API_KEY=

GOOGLE_ENABLED=
GOOGLE_CREDENTIALS=

AUTODESK_LIBRARY_ENABLED=
AUTODESK_LIBRARY_EMAIL=
AUTODESK_LIBRARY_PASSWORD=
AUTODESK_LIBRARY_HUB_ID=
