/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/storage/*.key
/resources/views/vendor/
/public/vendor/
/vendor
.env
/.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

GPATH
GRTAGS
GTAGS
/.idea/
