parameters:
  excludePaths:
    - bootstrap/*
    - vendor/*
  ignoreErrors:
    - '#Call to an undefined method Illuminate\\Contracts\\Auth\\StatefulGuard::getTokenForRequest\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Auth\\SessionGuard::authenticate\(\)\.#'
    - '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder<App\\EmailEvent>::count\(\)\.#'
    - '#Method App\\Http\\Middleware\\[a-zA-Z]+::handle\(\) has no return typehint specified\.#'
    - '#Method App\\Nova\\[a-zA-Z]+::fields\(\) return type has no value type specified in iterable type array\.#'
    - '#Parameter \#1 \$data of function bin2hex expects string, string\|false given\.#'
    - '#Parameter \#1 \$var of function count expects array\|Countable, array\|null given\.#'
    - '#Parameter \#2 \$str of function explode expects string, array\|string given\.#'
    - '#Property App\\EmailEvent::\$last_attendance_id \(int\) does not accept int\|null\.#'
    - '#Strict comparison using !== between 200 and 200 will always evaluate to false\.#'
    - '#Strict comparison using === between false and array<SimpleXMLElement> will always evaluate to false\.#'
    - '#Strict comparison using === between false and array<SimpleXMLElement> will always evaluate to true\.#'
