[client]
host=localhost
user={{- with (key "jedi" | parseJSON) -}}{{- index . "DB_USERNAME" -}}{{- end }}
password={{- with (key "jedi" | parseJSON) -}}{{- index . "DB_PASSWORD" -}}{{- end }}
database={{- with (key "jedi" | parseJSON) -}}{{- index . "DB_DATABASE" -}}{{- end }}
{{- range service "mysql" }}
socket="{{- index .ServiceMeta "socket" | trimSpace -}}"
{{ end }}
